@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    min-height: 100vh;
}

.container{
position: relative;
height: 600px;
display:flex;
align-items: center;
}

.wave{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.container-texts{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: #fff;
}

.title{
    font-size: 45px;
}

.sub-title{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #4776E6;
}

.container-img{
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.rocket{
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.04);
    }
}

@media screen and (max-width: 800px){
    .container{
        flex-direction: column-reverse;
    }

    .wave{
        width: 80%;
    }

    .container-texts{
        display: flex;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .title{
        font-size: 40px;
    }

    .sub-title{
        font-size: 20px;
    }

    .container-img{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rocket{
        height: 90%;
    }
}

@media screen and(max-width: 500px){
    .wave{
        width: auto;
        height: 48%;
    }

    .container-texts{
        flex-basis: 40%;
        justify-content: flex-start;
    }

    .title{
        font-size: 36px;
    }
}